<?xml version="1.0" encoding="UTF-8" ?>

<routes>
	<route url="/" controller="Example" action="action_example" />
	<route url="/albums" controller="AnotherController" action="albums" />
	<route url="/album-([0-9]+)" controller="AnotherController" action="album" variables="id" />
	<route url="/connexion" controller="Utilisateur" action="connexion" />
</routes>