<?xml version="1.0" encoding="UTF-8" ?>

<routes>
	<route url="/" controller="general" action="accueil" />
	<route url="/recherche" controller="general" action="recherche" />
	<route url="/connexion" controller="general" action="connexion" />
	<route url="/deconnexion" controller="general" action="deconnexion" />
	<route url="/inscription" controller="general" action="inscription" />
	
	<route url="/connexionAdmin" controller="general" action="connexionAdmin" />
	<route url="/deconnexionAdmin" controller="general" action="deconnexionAdmin" />
	
	<route url="/locations" controller="client" action="liste_locations" />
	<route url="/location-([a-z0-9]+)" controller="client" action="location" variables="num_contrat" />
	<route url="/conducteurs" controller="client" action="liste_conducteurs" />
	<route url="/ajout_conducteur" controller="client" action="ajout_conducteur" />
	
	
	<route url="/agents" controller="admin" action="liste_agents" />
	<route url="/entreprises" controller="admin" action="liste_entreprises" />
	
	<route url="/ajout_agent" controller="admin" action="ajout_agent" />
	<route url="/ajout_entreprise" controller="admin" action="ajout_entreprise" />
</routes>