<?xml version="1.0" encoding="UTF-8" ?>

<routes>
	<route url="/" controller="general" action="accueil" />
	<route url="/recherche" controller="general" action="recherche" />
	<route url="/connexion" controller="general" action="connexion" />
	<route url="/inscription" controller="general" action="inscription" />
	
	<route url="/locations" controller="client" action="liste_locations" />
	<route url="/conducteurs" controller="client" action="liste_conducteurs" />
	<route url="/ajout_conducteur" controller="client" action="ajouter_conducteur" />
	
	
	<route url="/agents" controller="admin" action="liste_agents" />
	<route url="/entreprises" controller="admin" action="liste_entreprises" />
	
	<route url="/ajouter_agent" controller="admin" action="ajouter_agent" />
	<route url="/ajout_entreprise" controller="admin" action="ajout_entreprise" />
</routes>